@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
	font-family: 'Rajdhani', sans-serif;
	margin:0;
}

hr{
	border:3px solid #301934;
}
div{
	margin:0;
}

h1{
	font-weight:bold;
	color:#301934 ;
}

.logo{
	height:50px;
	weight:50px;
}

a:link,a:visited{
	color: #7906b6;
}

a:hover,a:active{
 color:#393e46;
 background-color:#eddbf4;
}

.list{
	display: inline-block;
	/* color:#301934; */
	list-style: none;
	background-color:transparent;
	width:35%;
	margin: auto 5% auto 20%;
}

.element{
	font-size:22px;;
	text-decoration:underline;
	float:left;
	margin:5%;
}

/* .di{
	width:30%;
	display: inline-block;
	margin: auto 5% auto 40%
} */
.div3{
	background-color:#f8f8fe;
	padding:12px;
	height:470px;
}

.div2{
	padding:90px;
	display: inline-block;
	width:54%;
}
.div22{
	display: inline-block;
	float:right;
}

.img1{
	height:400px;
	width:450px;
	margin:20px;
}

.img2{
	width:500px;
	margin:0;
	background-color:#f8f8fe;
}

.quote{
	display:inline-block;
	border: 2px solid #dbc2e5;
	font-family: 'Dancing Script', cursive;
	background-color: white;
	height:160px;
	width:265px;
	border-radius:5%;
	text-align:left;
	padding:5px;
	margin:10px;
}

.input{
	border:2px solid #7906b6;
	height:30px;
	border-radius:5%;
}

.button{
	border:2px solid #07043b ;
	border-radius:5%;
	font-size:large;
	padding:3px;
	font-family: 'Rajdhani', sans-serif;
	background-color: #07043b;
	color: #f8f8fe;
	height: 34px;
}

.div4{
	background-color: #575989;
	color:#e1e4f9;
	width:100%;
	height:300px;
}

.div5{
	padding:2%;
	background-color: #07043b;
	color:#e1e4f9;
	height:220px;
}

.d1,.d2,.d3,.d4{
	height:280px;
	width: 350px;
	display: inline-block;
}

.lii{
	list-style:none;
}

.link:link,.link:visited{
	text-decoration:none;
	color: #e1e4f9;
}

.link:hover,.link:active{
	text-decoration: underline;
}

.ele{
	margin:7px;
}